.search{
    
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 999px;
}

.search_input{
    justify-content: center;
    padding: 10px;
    height: 20px;
    width: 500px;
    border: 1px solid purple;
    border-radius: 999px;
    margin: 10px;
    font-size: 18px;
    text-transform: capitalize;
}
input:focus{
    outline-width: 0;
}

.autoContainer {
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: absolute;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: goldenrod;
    background-color: whitesmoke;
    top: 52px;
    width: 480px;
  }
  
  .flex-container {
    display: flex;
  }
  
  .flex-column {
    flex-direction: column;
  }

  .pos-rel {
    position: relative;
  }
  .option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    padding: 5px;
  }